# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Virtual Environment
cps-env/
venv/

# Runtime ML files
ml/state.txt
ml/severity.txt
ml/anomaly_score.txt
ml/events.log
ml/heartbeat.txt

# Live & Raw Data
data/

# OS
.DS_Store
Thumbs.db
